body{
	background:#535353;
}

#header{
	background: #242424;

	padding-top: 35px; 
	margin: 0px auto;
	width: 800px ;
	height: 70px;
	
}

#content_block{
	background: #242424;
	margin: 0px auto;
	width: 800px ;
	height: 1950px;
	

}
.image {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

.hf {
	position: absolute;
	top		: 400px;
	left: 170px;
	
}

.qwe{
	position: absolute;
	top		: 490px;
	width: 270px;
	left: 287px;
	
}

.button{
	position: absolute;
	top: 740px;
	border: 1px solid black;
	background: #CFCFCF;
	width: 180px;
	height: 60px;
	left: 300px;

}

.photo{
	float: right;
	margin: 25px 55px 5px 5px;
}

.photo2{
	float: left;
	margin: 5px 55px 5px 70px;
}

.photo3{
	float: right;
	margin: 25px 55px 5px 5px;
}